@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ========== Geral ========== */
main section {
    width: 100vw;
    height: 100vh;
    /* background-color: #fff; */
}

/* ========== Geral ========== */

/* ========== Header ========== */
header {
    position: relative;
    overflow: hidden;
}

header section {
    width: 100vw;
    height: 100vh;
    /* background-color: #fff; */
}

header .circle {
    width: 200%;
    height: 200%;
    transform: translate(-25%, -50%);
    border-radius: 50%;
    background-color: #013172;
    z-index: 1;
    position: absolute;
}

header #home {
    position: relative;
    z-index: 1;
}

header #home #logo {
    /* max-width: 20%; */
    max-height: 20%;
    position: absolute;
    top: 2%;
    left: 2%;
    font-family: "Open Sans";
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;

    gap: 5%;
    font-variant-caps: all-petite-caps;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* ===== Logo ===== */
#logo img {
    max-width: 15vh;
    object-fit: contain;
}

#logo span {
    font-size: x-large;
}

#logo span:last-child {
    font-size: x-large;
    transform: translate(0, -50%);
}

#image-home {
    width: 40%;
    height: 55%;
    position: absolute;
    right: 5%;
    top: 40%;
    transform: translate(0, -50%);
}

/* ==== Logo ===== */
/* ===== Apresentacao ===== */
#apresentacao {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: x-large;
}

#apresentacao h1 {
    color: #fff;
}

#apresentacao span {
    color: #01C6F7;
}

/* ===== Apresentacao ===== */
/* ===== Nav ===== */
header #home nav {
    width: 40%;
    height: fit-content;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

header #home nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: space-around;
    gap: 5%;
    width: 100%;
    height: fit-content;
}

header #home nav ul li {
    transition: all 400ms ease;
    width: calc(50% - 5% - 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004AAD;
    border: solid 1px #004AAD;
    border-radius: 2rem;
    padding: .5rem;
    font-size: large;
    margin-bottom: 3%;
    cursor: pointer;
}

header #home nav ul li:hover {
    background-color: #fff;
    border: solid 1px #fff;
}

header #home nav ul li:hover a {
    color: #013172;
}

header #home nav ul li a {
    text-align: center;
    height: 100%;
    width: 100%;
    color: #fff;
}

/* ===== Nav ===== */
#arrow-desce svg {
    width: 40px;
    height: 40px;
}

/* ========== Header ========== */

/* ========== Main ========== */
/* ===== Motivação ===== */
main #motivacao {
    position: relative;
}

main #motivacao .background {
    background-color: #013172;
    position: absolute;
    width: 100%;
    height: 60%;
    top: 50%;
    transform: translate(0, -50%);
}

#motivacao article {
    padding: 1rem;
    background-color: #013172;
    position: absolute;
    width: 60%;
    height: 90%;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 1rem;
    right: 5%;
    color: #fff;
    font-size: large;
}

#motivacao article h1 {
    font-size: x-large;
    margin-bottom: 10px;
}

#motivacao article p {
    text-indent: 2rem;
    margin-bottom: 5px;
}

#motivation-cross {
    top: 50%;
    left: 1%;
    transform: translate(0, -50%);
    position: absolute;
    height: 55%;
}

/* ===== Motivação ===== */
/* ===== Descubra ===== */
main #descubra {
    text-align: center;
    position: relative;
}

#descubra h1:first-child {
    position: absolute;
    top: 10%;
    font-size: xx-large;
    color: #013172;
    left: 50%;
    transform: translate(-50%);
}

main #descubra #itens {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
}

#itens img {
    width: 60%;
}

#itens p {
    height: 40%;
    color: white;
    width: 50%;
    font-size: medium;
}

#itens h1 {
    font-size: large;
    margin: 2%;
}

#itens #recomendacao {
    transition: all 300ms ease;
    cursor: pointer;
    width: 33%;
    background-color: #065BCD;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #01C6F7;
}

#itens #recomendacao:hover {
    transform: scale(1.1);
    z-index: 1;
}

#recomendacao img {
    width: 50%;
}

#itens #artigos {
    transition: all 300ms ease;
    cursor: pointer;
    width: 33%;
    background-color: #004AAD;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #01C6F7;
}

#itens #artigos:hover {
    transform: scale(1.1);
    z-index: 1;
}

#artigos img {
    transform: translate(17%);
}

#itens #posts {
    transition: all 300ms ease;
    cursor: pointer;
    width: 33%;
    background-color: #013172;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #01C6F7;
}

#itens #posts:hover {
    transform: scale(1.1);
    z-index: 1;
}

#itens #post-icon {
    width: 80%;
    margin-top: 10%;
}

/* ===== Descubra ===== */
#arrow-desce {
    position: absolute;
    bottom: 2%;
    color: #01C6F7;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
    cursor: pointer;
}

/* ===== Compromisso ===== */
#compromisso {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

#compromisso div {
    background-color: #013172;
    border-radius: 1rem;
    /* padding: 1rem; */
    width: 60%;
}

#compromisso p {
    text-indent: 2.5rem;
    font-size: x-large;
    color: #fff;
    z-index: 2;
}

#compromisso img {
    width: 20%;
    /* padding: 1rem; */
    background-color: #013172;
    border-radius: 50%;
    z-index: 1;
}

/* ========== Main ========== */

/* ========== Footer ========== */
footer {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    /* background-color: #fff; */
}
footer #contact-title {
    position: absolute;
    top: 5%;
    left: 50%;
    color: #fff;
    transform: translate(-50%);
}
footer section {
    position: relative;
    z-index: 1;
    /* background-color: #fff; */
}

footer .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(120vh at 50% 120%);
    background-color: #013172;
}

.interaction {
    position: absolute;
    bottom: 4.5vh;
    padding-bottom: 2.5vh;
    padding-top: 2.5vh;
    /* background-color: #022350; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

#contato,
#links-importantes,
#redes-sociais {
    width: fit-content;
    color: #fff
}

#contato a,
#links-importantes a,
#redes-sociais a {
    color: #fff;
}

footer #creditos {
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 0;
    display: flex;
    background-color: #022350;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

footer #creditos #logo {
    position: relative;
    width: 30%;
    max-height: 100%;
    font-family: "Open Sans";
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    gap: 5px;
    font-variant-caps: all-petite-caps;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* ===== Logo ===== */
#creditos #logo img {
    max-height: 4.5vh;
    object-fit: contain;
}

#creditos #logo p {
    text-align: start;
}

#creditos p:last-child {
    width: 30%;
    text-align: end;
}

/* ========== Footer ========== */