
button {
    transition: all 300ms ease;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #363949;
    color: #fff;
    border: 1px solid #363949;
}

button:hover {
    border: 1px solid #363949;
    background-color: #fff;
    color: #363949;
}

input {
    border-bottom: 1px solid #363949 ;
}

input[type=checkbox]{
    appearance: auto;
    margin: 3px 3px 3px 4px;
}
input[type=radio]{
    appearance: auto;
    margin: 3px 3px 3px 4px;
}

hr {
    border: 1px solid #363949;
    margin-top: 2%;
    margin-bottom: 2%;
}